<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Utilizando o EJS</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">


</head>

<body>
  <header>
    <nav class="navbar navbar-inverse">
    </nav>
  </header>

  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>
</body>
<script src="/js/myscripts.js"></script>
</html>