<%- contentFor('body') %>

<form method="POST" id="imageForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Upload Images</label>
    <input type="file" class="form-control" id="inputFiles" multiple>
    <small id="emailHelp" class="form-text text-muted">Only gif, png, jpg, jpeg. </small>
  </div>

  <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
</form>



